<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#importing-Data-&amp;-Libraries" data-toc-modified-id="importing-Data-&amp;-Libraries-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>importing Data &amp; Libraries</a></span></li><li><span><a href="#Cleaning-Data" data-toc-modified-id="Cleaning-Data-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Cleaning Data</a></span><ul class="toc-item"><li><span><a href="#Dealing-with-Null-values-in-Data" data-toc-modified-id="Dealing-with-Null-values-in-Data-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Dealing with Null values in Data</a></span></li><li><span><a href="#Dealing-with-Missing-values-in-Data" data-toc-modified-id="Dealing-with-Missing-values-in-Data-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Dealing with Missing values in Data</a></span><ul class="toc-item"><li><span><a href="#ServiceArea(Categorical)" data-toc-modified-id="ServiceArea(Categorical)-2.2.1"><span class="toc-item-num">2.2.1&nbsp;&nbsp;</span>ServiceArea(Categorical)</a></span></li><li><span><a href="#Age(Numerical)" data-toc-modified-id="Age(Numerical)-2.2.2"><span class="toc-item-num">2.2.2&nbsp;&nbsp;</span>Age(Numerical)</a></span></li><li><span><a href="#HandsetPrice" data-toc-modified-id="HandsetPrice-2.2.3"><span class="toc-item-num">2.2.3&nbsp;&nbsp;</span>HandsetPrice</a></span></li></ul></li></ul></li></ul></div>

# importing Data & Libraries

In [437]:
import pandas as pd
import numpy as np
from sklearn.impute import KNNImputer

In [438]:
data=pd.read_csv('Data.csv')
data

,CustomerID,Churn,MonthlyRevenue,MonthlyMinutes,TotalRecurringCharge,DirectorAssistedCalls,OverageMinutes,RoamingCalls,PercChangeMinutes,PercChangeRevenues,...,ReferralsMadeBySubscriber,IncomeGroup,OwnsMotorcycle,AdjustmentsToCreditRating,HandsetPrice,MadeCallToRetentionTeam,CreditRating,PrizmCode,Occupation,MaritalStatus
0,3378298,No,-6.17,0.0,-6.0,0.00,0.0,0.0,0.0,6.2,...,0,6,No,0,Unknown,No,7-Lowest,Suburban,Other,No
1,3265738,No,-5.86,0.0,-5.0,0.00,0.0,0.0,0.0,5.9,...,0,6,No,0,Unknown,No,3-Good,Suburban,Other,Yes
2,3210322,No,-2.52,211.0,0.0,0.33,0.0,0.0,NaN,NaN,...,0,0,No,0,30,No,3-Good,Suburban,Other,Unknown
3,3096670,Yes,0.00,2.0,0.0,0.00,0.0,0.0,NaN,NaN,...,0,0,No,0,30,No,5-Low,Suburban,Other,Unknown
4,3103410,Yes,0.00,55.0,0.0,0.00,0.0,0.0,NaN,NaN,...,0,4,No,0,10,No,4-Medium,Other,Other,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51042,3399910,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,7,No,0,30,No,1-Highest,Suburban,Other,Unknown
51043,3399958,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,6,No,0,60,No,1-Highest,Suburban,Other,Yes
51044,3399978,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,7,No,1,80,No,5-Low,Other,Clerical,No
51045,3399990,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,9,No,0,30,No,5-Low,Other,Other,No
51046,3399994,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,No,1,60,Yes,5-Low,Other,Other,Unknown

# Cleaning Data

## Dealing with Null values in Data

In [439]:
data.isna().sum()

CustomerID                     0
Churn                          0
MonthlyRevenue               156
MonthlyMinutes               156
TotalRecurringCharge         156
DirectorAssistedCalls        156
OverageMinutes               156
RoamingCalls                 156
PercChangeMinutes            367
PercChangeRevenues           367
DroppedCalls                   0
BlockedCalls                   0
UnansweredCalls                0
CustomerCareCalls              0
ThreewayCalls                  0
ReceivedCalls                  0
OutboundCalls                  0
InboundCalls                   0
PeakCallsInOut                 0
OffPeakCallsInOut              0
DroppedBlockedCalls            0
CallForwardingCalls            0
CallWaitingCalls               0
MonthsInService                0
UniqueSubs                     0
ActiveSubs                     0
ServiceArea                   24
Handsets                       1
HandsetModels                  1
CurrentEquipmentDays           1
AgeHH1                       909
AgeHH2                       909
ChildrenInHH                   0
HandsetRefurbished             0
HandsetWebCapable              0
TruckOwner                     0
RVOwner                        0
Homeownership                  0
BuysViaMailOrder               0
RespondsToMailOffers           0
OptOutMailings                 0
NonUSTravel                    0
OwnsComputer                   0
HasCreditCard                  0
RetentionCalls                 0
RetentionOffersAccepted        0
NewCellphoneUser               0
NotNewCellphoneUser            0
ReferralsMadeBySubscriber      0
IncomeGroup                    0
OwnsMotorcycle                 0
AdjustmentsToCreditRating      0
HandsetPrice                   0
MadeCallToRetentionTeam        0
CreditRating                   0
PrizmCode                      0
Occupation                     0
MaritalStatus                  0
dtype: int64

In [440]:
# dealing with null values in MonthlyRevenue, it has 156 we delete all Na
data = data[data['MonthlyRevenue'].isna()==False]

In [441]:
# delaing with Null values in PercChangeMinutes , They are not much so we delete them
data = data[data['PercChangeMinutes'].isna()==False]

In [442]:
# delaing with Null values in Service Area, They are not much so we delete them
data = data[data['ServiceArea'].isna()==False]

In [443]:
#For AgeHH1 and AgHH2 both them reperesnet of age so we Delete one of them and we delete null valuyes as well
data=data.drop('AgeHH2', axis=1)

In [444]:
# Drop Na and also change the name of Column
data = data[data['AgeHH1'].isna()==False]
data = data.rename(columns={'AgeHH1':'Age'})

In [445]:
# we have only one null value in Handsets ,HandsetModels , CurrentEquipmentDays , so we delet them as well
data = data[data['Handsets'].isna()==False]

In [446]:
# Make sure there in no Null Values in Data
data.isna().sum()
data.shape

(49752, 57)

## Dealing with Missing values in Data

In [447]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49752 entries, 0 to 50890
Data columns (total 57 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   CustomerID                 49752 non-null  int64
 1   Churn                      49752 non-null  object
 2   MonthlyRevenue             49752 non-null  float64
 3   MonthlyMinutes             49752 non-null  float64
 4   TotalRecurringCharge       49752 non-null  float64
 5   DirectorAssistedCalls      49752 non-null  float64
 6   OverageMinutes             49752 non-null  float64
 7   RoamingCalls               49752 non-null  float64
 8   PercChangeMinutes          49752 non-null  float64
 9   PercChangeRevenues         49752 non-null  float64
 10  DroppedCalls               49752 non-null  float64
 11  BlockedCalls               49752 non-null  float64
 12  UnansweredCalls            49752 non-null  float64
 13  CustomerCareCalls          49752 non-null  float64
 14  ThreewayCalls              49752 non-null  float64
 15  ReceivedCalls              49752 non-null  float64
 16  OutboundCalls              49752 non-null  float64
 17  InboundCalls               49752 non-null  float64
 18  PeakCallsInOut             49752 non-null  float64
 19  OffPeakCallsInOut          49752 non-null  float64
 20  DroppedBlockedCalls        49752 non-null  float64
 21  CallForwardingCalls        49752 non-null  float64
 22  CallWaitingCalls           49752 non-null  float64
 23  MonthsInService            49752 non-null  int64
 24  UniqueSubs                 49752 non-null  int64
 25  ActiveSubs                 49752 non-null  int64
 26  ServiceArea                49752 non-null  object
 27  Handsets                   49752 non-null  float64
 28  HandsetModels              49752 non-null  float64
 29  CurrentEquipmentDays       49752 non-null  float64
 30  Age                        49752 non-null  float64
 31  ChildrenInHH               49752 non-null  object
 32  HandsetRefurbished         49752 non-null  object
 33  HandsetWebCapable          49752 non-null  object
 34  TruckOwner                 49752 non-null  object
 35  RVOwner                    49752 non-null  object
 36  Homeownership              49752 non-null  object
 37  BuysViaMailOrder           49752 non-null  object
 38  RespondsToMailOffers       49752 non-null  object
 39  OptOutMailings             49752 non-null  object
 40  NonUSTravel                49752 non-null  object
 41  OwnsComputer               49752 non-null  object
 42  HasCreditCard              49752 non-null  object
 43  RetentionCalls             49752 non-null  int64
 44  RetentionOffersAccepted    49752 non-null  int64
 45  NewCellphoneUser           49752 non-null  object
 46  NotNewCellphoneUser        49752 non-null  object
 47  ReferralsMadeBySubscriber  49752 non-null  int64
 48  IncomeGroup                49752 non-null  int64
 49  OwnsMotorcycle             49752 non-null  object
 50  AdjustmentsToCreditRating  49752 non-null  int64
 51  HandsetPrice               49752 non-null  object
 52  MadeCallToRetentionTeam    49752 non-null  object
 53  CreditRating               49752 non-null  object
 54  PrizmCode                  49752 non-null  object
 55  Occupation                 49752 non-null  object
 56  MaritalStatus              49752 non-null  object
dtypes: float64(25), int64(9), object(23)
memory usage: 22.0+ MB

In [448]:
# check the values of data if we have missing values(not null somthing that are not correct or unknown)

### ServiceArea(Categorical)

In [449]:
data.ServiceArea.value_counts()
# service area dosent have any missindg values

California              6926
Texas                   6827
New York                5055
Florida                 3699
Illinois                2031
Ohio                    1908
Virginia                1633
New Jersey              1496
Michigan                1451
Georgia                 1438
Maryland                1247
Massachusetts           1185
North Carolina          1145
Missouri                1117
Pennsylvania            1081
Washington               837
Connecticut              825
Minnesota                801
Tennessee                788
Arizona                  779
Colorado                 716
Indiana                  692
Kansas                   630
Wisconsin                626
Nevada                   503
Kentucky                 438
Louisiana                384
Oklahoma                 369
South Carolina           348
District of Columbia     335
Oregon                   288
Nebraska                 279
Iowa                     269
Hawaii                   252
New Hampshire            227
New Mexico               169
Utah                     166
Alabama                  142
Arkansas                 140
Rhode Island             139
Delaware                 130
West Virginia             81
Mississippi               64
Maine                     48
South Dakota              30
Idaho                     16
North Dakota               2
Name: ServiceArea, dtype: int64

### Age(Numerical)

In [450]:
data.Age.value_counts()
# we have 13808 value with 0 which is missing value so we need to
#complete missing values because the number is so high

0.0     13808
46.0     2136
42.0     2056
50.0     2051
48.0     2035
44.0     2019
40.0     1965
38.0     1951
52.0     1950
36.0     1875
30.0     1866
32.0     1816
34.0     1812
54.0     1705
28.0     1642
26.0     1384
56.0     1372
58.0     1229
24.0      853
60.0      804
22.0      535
62.0      476
64.0      399
66.0      303
68.0      277
20.0      255
70.0      246
72.0      224
74.0      165
76.0      137
78.0      102
80.0       81
82.0       54
84.0       44
18.0       44
86.0       29
88.0       23
90.0       12
94.0        7
92.0        6
98.0        2
96.0        1
99.0        1
Name: Age, dtype: int64

In [451]:
# Becuse we have lots of 0 in data we dont want to change the value of them so we change 0 value with 0.0001
# to just calculate missging value for Age 0
data['Age'] = data['Age'].replace(0,0.0001)
numerical=data.select_dtypes(['int64', 'float64'])
numerical=numerical.drop('CustomerID' ,axis=1)
numerical.shape

(49752, 33)

In [452]:
cols_backup = numerical.columns
imputer=KNNImputer(missing_values=0.0001, n_neighbors=5, weights='uniform')
imputed_data = imputer.fit_transform(numerical)
numerical= pd.DataFrame(data=imputed_data, columns=cols_backup)

In [453]:
# Repalcing Data of age with imputer data
data.loc[data.index.isin(numerical.index),'Age'] = numerical.Age

In [454]:
data[data['Age']==0.0001]['Age'].value_counts()

0.0001    364
Name: Age, dtype: int64

In [455]:
# we still have some missing values(364) in age becuse KNN could computed more so we detele them form dataframe
data = data[data['Age']!=0.0001]
data[['Age','CustomerID']].sort_values(by='Age')
data.shape

(49388, 57)

### HandsetPrice

In [456]:
# we have 28150 Unkonwn value so we can use KNNImputer for completeing this part of data
data.HandsetPrice.value_counts()
# this field should be numercial but becuase we have unknown in values so this feature is obejct
# we need to change that in order to input numericla value
# repalce Unkonwn with value which is not in data like 100000, so we are going to predict values for those one
data['HandsetPrice'] = data['HandsetPrice'].replace("Unknown",100000)
data['HandsetPrice'] = data['HandsetPrice'].astype('int64')
data[['HandsetPrice','CustomerID']].sort_values(by='HandsetPrice' ,ascending=False)
numerical=data.select_dtypes(['int64', 'float64'])
numerical=numerical.drop('CustomerID' ,axis=1)

In [457]:
cols_backup = numerical.columns
imputer=KNNImputer(missing_values=100000, n_neighbors=5, weights='uniform')
imputed_data = imputer.fit_transform(numerical)
numerical= pd.DataFrame(data=imputed_data, columns=cols_backup)

In [458]:
numerical.shape

(49388, 34)

In [459]:
numerical[['HandsetPrice']].sort_values(by='HandsetPrice',ascending=False)

       HandsetPrice
46693         500.0
47494         500.0
33697         500.0
43936         500.0
45392         500.0
...             ...
47484          10.0
29729          10.0
9410           10.0
40379          10.0
35942          10.0

[49388 rows x 1 columns]

In [460]:
# Repalcing Data of HandsetPrice with imputer data
data.loc[data.index.isin(numerical.index),'HandsetPrice'] = numerical.HandsetPrice
data.shape

(49388, 57)

In [461]:
data[data['HandsetPrice']==100000].shape

(312, 57)

In [468]:
# we still have 312 row which KNN couldn't replace values so we delete them
data[['HandsetPrice','CustomerID']].sort_values(by='HandsetPrice',ascending=False)
data=data[data['HandsetPrice']!=100000]
# based on data of this column, the mod 10 of all values were 0 so we need to change these new value of missing data to obay the currnt rule
data['HandsetPrice'].apply(np.ceil)
data['HandsetPrice']=data['HandsetPrice']+np.mod(data['HandsetPrice'],10)
data[['CustomerID','HandsetPrice']]

       CustomerID  HandsetPrice
0         3378298         100.0
1         3265738          70.0
5         3334666          20.0
6         3391282          20.0
7         3391442          20.0
...           ...           ...
50873     3002606          10.0
50879     3196882         100.0
50881     3162914          80.0
50882     3300310         100.0
50887     3059858         100.0

[49076 rows x 2 columns]

In [469]:
numerical=data.select_dtypes(['int32', 'float64'])
numerical.describe().T

,count,mean,std,min,25%,50%,75%,max
MonthlyRevenue,49076.0,56.257527,37.477090,-6.17,33.4575,47.70,69.260,855.50
MonthlyMinutes,49076.0,506.764284,497.687538,0.00,156.0000,360.00,698.000,6336.00
TotalRecurringCharge,49076.0,46.301879,22.846621,-6.00,30.0000,45.00,60.000,342.00
DirectorAssistedCalls,49076.0,0.843443,1.943184,0.00,0.0000,0.25,0.740,72.77
OverageMinutes,49076.0,34.795705,78.961689,0.00,0.0000,2.00,38.000,4321.00
RoamingCalls,49076.0,1.051632,6.392971,0.00,0.0000,0.00,0.200,692.40
PercChangeMinutes,49076.0,-10.863334,242.923162,-3875.00,-82.0000,-5.00,64.000,4480.00
PercChangeRevenues,49076.0,-1.095957,32.573379,-571.10,-6.7000,-0.30,1.500,868.20
DroppedCalls,49076.0,5.828358,8.691028,0.00,0.7000,3.00,7.300,221.70
BlockedCalls,49076.0,3.963756,10.543137,0.00,0.0000,1.00,3.700,324.70
UnansweredCalls,49076.0,27.465686,37.087250,0.00,5.0000,16.00,35.700,848.70
CustomerCareCalls,49076.0,1.826282,5.002398,0.00,0.0000,0.00,1.700,327.30
ThreewayCalls,49076.0,0.286765,1.139077,0.00,0.0000,0.00,0.300,66.00
ReceivedCalls,49076.0,109.714934,155.885911,0.00,8.2000,51.30,148.225,2619.30
OutboundCalls,49076.0,24.552812,33.415334,0.00,3.3000,13.30,33.000,644.30
InboundCalls,49076.0,7.867365,15.540260,0.00,0.0000,2.00,9.000,344.70
PeakCallsInOut,49076.0,87.274152,98.135083,0.00,23.0000,61.00,118.300,2090.70
OffPeakCallsInOut,49076.0,65.734803,88.548961,0.00,11.0000,35.00,86.300,1474.70
DroppedBlockedCalls,49076.0,9.851738,14.950208,0.00,1.7000,5.30,12.300,339.00
CallForwardingCalls,49076.0,0.011071,0.568709,0.00,0.0000,0.00,0.000,81.30
CallWaitingCalls,49076.0,1.707144,4.998692,0.00,0.0000,0.30,1.300,170.70
Handsets,49076.0,1.802775,1.321094,1.00,1.0000,1.00,2.000,24.00
HandsetModels,49076.0,1.557808,0.903009,1.00,1.0000,1.00,2.000,15.00
CurrentEquipmentDays,49076.0,380.903823,252.804783,-5.00,205.0000,330.00,517.000,1812.00
Age,49076.0,43.071783,11.019391,18.00,36.0000,42.00,50.000,99.00
HandsetPrice,49076.0,71.043891,47.013383,10.00,30.0000,60.00,100.000,500.00